{% extends 'mailings/base.html' %}

{% block content %}

    {% if user.is_active %}

        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailings:mailings_create' %}">
                        Создать рассылку
                    </a>
                </div>
                <div class="col-6">
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailings:log_mailings' %}">
                        Логи Рассылок
                    </a>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            {% for object in object_list %}
                {% if user.email == object.user_creator %}
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-lg-center">{{ object.name }}</h5>
                                <p class="card-text text-sm-center">{{ object.status }}</p>
                                <p class="card-text">{{ object.user_creator.fio }}</p>
                                <a class="btn btn-lg btn-block btn-outline-primary"
                                   href="{% url 'mailings:mailings_detail' object.pk %}">Просмотреть</a>
                                <a class="btn btn-lg btn-block btn-outline-primary"
                                   href="{% url 'mailings:mailings_update' object.pk %}">Редактировать</a>
                                <a class="btn btn-lg btn-block btn-outline-primary"
                                   href="{% url 'mailings:mailings_delete' object.pk %}">Удалить</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    {% else %}
        <p align="center">Вы не авторизовались. Доступа к продуктам нет.</p>
    {% endif %}

{% endblock %}