{% extends 'mailings/base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ object.name }}</h5>
                <p class="card-text">Периодичность: {{ object.periodicity }}</p>
                <p class="card-text">Статус: {{ object.created}}</p>
                <p class="card-text">Автор: {{ object.user_creator}}</p>
                <p class="card-text">Название рассылки: {{ object.message.name}}</p>
                <p class="card-text">Текст рассылки: {{ object.message.text}}</p>
                {% for client in object.clients.all %}
                <p class="card-text">Данные клиента:  {{ client.pk }}</p>
                {% endfor %}
                <a class="btn btn-outline-primary" href="{% url 'mailings:mailings_list' %}">
                    Назад
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}